<?xml version="1.0"?>

<config>
    <modules>
        <Bss_Configurablegridview>
            <version>1.3.2</version>
        </Bss_Configurablegridview>
    </modules>
    <frontend>
        <routers>
            <configurablegridview>
                <use>standard</use>
                <args>
                    <module>Bss_Configurablegridview</module>
                    <frontName>configurablegridview</frontName>
                </args>
            </configurablegridview>
            <checkout>
             <args>
                 <modules>
                    <Bss_Configurablegridview before="Mage_Checkout">Bss_Configurablegridview</Bss_Configurablegridview>
                </modules>
             </args>
        </checkout> 
        </routers>
        <layout>
            <updates>
                <configurablegridview>
                    <file>bss/configurablegridview.xml</file>
                </configurablegridview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Bss_Configurablegridview>
                            <title>Bss Configurablegridview Module</title>
                            <sort_order>10</sort_order>
                        </Bss_Configurablegridview>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <helpers>
            <configurablegridview>
                <class>Bss_Configurablegridview_Helper</class>
            </configurablegridview>
        </helpers>
        <blocks>
            <configurablegridview>
                <class>Bss_Configurablegridview_Block</class>
            </configurablegridview>
            <checkout>
                <rewrite>
                    <cart_item_configure>Bss_Configurablegridview_Block_Checkout_Cart_Item_Configure</cart_item_configure>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <configurablegridview>
                <class>Bss_Configurablegridview_Model</class>
                <resourceModel>configurablegridview_resource</resourceModel>
            </configurablegridview>
            <configurablegridview_resource>
                <class>Bss_LicenseManager_Model_Resource</class>
                <entities>        
                    <product_price_indexer_final_idx>
                        <table>configurablegridview_product_index_price_final_idx</table>
                    </product_price_indexer_final_idx>
                    <product_price_indexer_final_tmp>
                        <table>configurablegridview_product_index_price_final_tmp</table>
                    </product_price_indexer_final_tmp>
                </entities>
            </configurablegridview_resource>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>Bss_Configurablegridview_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
					<product_option_type_file>Bss_Configurablegridview_Model_Catalog_Product_Option_Type_File</product_option_type_file>
					<product_type_configurable>Bss_Configurablegridview_Model_Catalog_Product_Type_Configurable</product_type_configurable>
				</rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price_configurable>Bss_Configurablegridview_Model_Catalog_Resource_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <configurablegridview_setup>
                <setup>
                    <module>Bss_Configurablegridview</module>
                </setup>
            </configurablegridview_setup>
        </resources>
    </global>
    <default>
        <configurablegridview>
            <settings>
                <is_enabled>1</is_enabled>
                <jquery>1</jquery>
                <enable_stock_avail>1</enable_stock_avail>
                <show_price>1</show_price>
                <show_number_stock>0</show_number_stock>
                <show_out_stock>0</show_out_stock>
            </settings>
        </configurablegridview>
    </default>
</config>